.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 760px;
}

.contact-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-links-text {
    color: #a1cdff;
    text-decoration: none;
    margin: 0 1rem;
}

.copy-right {
    margin-top: 100px;
    opacity: .2;
    text-align: center;
}

.site-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item:not(:last-child) {
    padding-right: 2rem;
}

.nav-link-text {
    box-shadow: inset 0 0 0 0 #a1cdff;
    color: #a1cdff;
    font-weight: bold;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    text-decoration: none;
    transition: .7s;
}

.nav-link-text:hover {
    color: #E9E8E8;
}

.siteHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
}

.site-title {
    font-size: 4rem;
    font-weight: 700;
}

.subTitleContainer {
    align-items: end;
    list-style: none;
}

.sub-title-text {
    color: #a1cdff;
    font-size: 1rem;
    text-align: right;
    text-transform: lowercase;
}