.container {
    margin: auto;
    max-width: 760px;
    font-family: sans-serif;
}

.heading {
    color: #205295;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item:not(:last-child) {
    padding-right: 2rem;
}

.nav-link-text {
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #0A2647;
    color: #0A2647;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.nav-link-text:hover {
    box-shadow: inset 100px 0 0 0 #0A2647;
    color: white;
}

.siteHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.site-title {
    font-size: 4rem;
    font-weight: 700;
}

.subTitleContainer {
    align-items: end;
    list-style: none;
}

.sub-title-text {
    color: #205295;
    font-size: 1rem;
    text-align: right;
    text-transform: lowercase;
}